.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.btnReload{
  margin-top: 50px;
  border-radius: 10px;
  background: none;
  border: 2px solid #4ECCA3;
  padding: 10px 30px;
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  transition-duration: 0.4s;
}

.btnReload:hover{
  background-color: #4ECCA3;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnReload:active {
  background-color: #4ECCA3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
